header{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background-color: #519872;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: sans-serif;
}